body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

form > div {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

label {
    margin: .5em 0
}

button {
    border: 1px solid black;
    padding: 1em 3em;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    text-transform: uppercase;
}

button:hover {
    background-color: lightgray;
}

p {
    margin: 1em;
    font-weight: bold;
}
